* {
    margin: 0;
}


body, html {
    
    height: 9000px;
/*    background-color: black;*/
    width: 100%;
    
    }






.Gutmensch {
    margin-top: 15%;
    position:absolute;
    font-family: Helvetica Neue;
    font-size: 70px;
     margin-left: 15%;
}

.Gutmensch a{
    color:black;
}
    
.Gutmensch a:hover{
    color:blue;
}


.smalltext{
     margin-top: 25%;
    position:absolute;
    font-family: Helvetica Neue;
    font-size: 30px;
   margin-left: 20%;
    color:grey;
    
    }




.Wutbürger {
    margin-top: 15%;
    position:absolute;
    font-family: Helvetica Neue;
    font-size: 70px;
    margin-left: 60%;
}

.Wutbürger a{
    color:black;
}
    
.Wutbürger a:hover{
    color:blue;
}


.smalltext1{
     margin-top: 25%;
    position:absolute;
    font-family: Helvetica Neue;
    font-size: 30px;
    color:grey;
    margin-left: 66%;
     }




#play{
     position:absolute;
    margin-top: 14.5%;
    margin-left:7%;
    width:100px; 
    height:100px; 
    }





#play1{
     position:absolute;
    margin-top: 14.5%;
    margin-left: 52%;
    width:100px; 
    height:100px; 
    }



#data{
    margin-top: 10%;
    }


.Gutmenschbeschreibung{
 margin-top: 20%;
margin-left: 30%;
    margin-right:30%;
    position:absolute;
font-family: Nazare;
    font-size: 30px;
    color:white;
    background-color: black;
    }



